@import "../variables.scss";
@import "../mixin.scss";

.random-wrapper {
  padding: 4.5rem;
  padding-bottom: 7rem;
  @include center-column;
  .detail-card {
    padding-bottom: 5.5rem;
    .img-detail-wrapper {
      height: 60vh;
    }
  }
}
