$roboto: Roboto, Arial, Helvetica, sans-serif;
$roboto-b: Roboto-Bold, Arial, Helvetica, sans-serif;

// Basic

$color: #ffca41;
// $dark: #0d4625;
// $light: #6fcf97;

// Other Colors
// $comp-color: #c37731;
$light-gray: rgb(172, 171, 171);
$w: #e5e5e5;
$b: #333333;

// text

$alert-c: rgb(215, 145, 15);
$confirmation-c: rgb(27, 132, 27);
$error-c: rgb(131, 10, 10);
